<div class="fr-header__menu fr-modal" id="modal-menu-mobile" aria-labelledby="fr-btn-menu-mobile">
<div class="fr-container">
    <button class="fr-btn--close fr-btn" aria-controls="modal-menu-mobile">Fermer</button>
    <div class="fr-header__menu-links"></div>
    <nav class="fr-nav" id="header-navigation" role="navigation" aria-label="Menu principal">
        <ul class="fr-nav__list">
            {%- for entry in collections.all | eleventyNavigation %}
            <li class="fr-nav__item {% if entry.url == page.url %} fr-nav__item--active{% endif %}">
            {% if entry.key ==  "methode" %}
            <button  {% if eleventyNavigation.parent == "methode"  or eleventyNavigation.key ==  "methode" %} aria-current="true" {% endif %}class="fr-nav__btn" aria-expanded="false" aria-controls="menu-methode">{{ entry.title }} </button>
            <div class="fr-collapse fr-menu" id="menu-methode">
                <ul class="fr-menu__list">
                {% for g in collections.methodeTechnique %}
                 <li><a class="fr-nav__link" href="/rgaa/methode/{{  g.slug }}/" target="_self">{{  g.methode.data.title }}</a></li>
                {% endfor %}
                </ul>
            </div>



            {% endif %}
            </li>
            {%- endfor %}
        </ul>
    </nav>
</div>
</div>
